@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("../images/game-background.jpg");
    background-color: #CE3A08;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-attachment: fixed;
    font-family: 'Acme', sans-serif;
    color: #fff0db;
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    height: auto;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    background-color: #FF2A22;
    font-size: 170%;
}

h1 {
    line-height: 60px;
    padding-top: 5px;
}

.viking-shield {
    height: 90%;
    padding: 5px;
    padding-left: 20px;
}

/* Nav Bar */
.nav-links {
    font-size: 80%;
    color: #fff0db;
    padding: 5px;
}

.nav-links li {
    list-style-type: none;
    margin-right: 30px;
}

.nav-links li a {
    text-decoration: none;
    color: inherit;
}

.nav-links li:hover {
    color: #fffb00;
    border-bottom: 2px solid #fffb00;
}

/* Visibility of Home Screen */
#home-screen {
    display: block;
    height: 100%;
}

.introduction {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 90%;
    background: rgba(255, 42, 34, 0.75);
    margin: auto;
    margin-top: 10%;
    font-size: 130%;
    padding: 5px;
}

.start-position {
    display: flex;
    justify-content: center;
}

#start-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background: #fffb00;
    border: 2px solid #5f4c4c;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 150%;
    padding: 10px;
    margin-top: 40px;
    height: 80px;
    width: 30%;
    border-radius: 7px;
    border: 2px solid #402e32;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
    box-shadow: 0 4px 14px 0 #402e32;
    transition: background 0.2s ease,
        color 0.2s ease,
        box-shadow 0.2s ease;
}

#start-button:hover {
    background: rgba(255, 248, 240, 1);
    color: #FF2A22;
    box-shadow: 0 6px 20px #5f4c4c;
}

/* Instructions */
#instructions {
    display: none;
    position: fixed;
    margin: auto;
    top: 30%;
    left: 25%;
    width: 50%;
    height: auto;
    padding: 20px;
    background-color: #fff0db;
    color: #402e32;
    border: 5px solid #402e32;
    border-radius: 0.25rem;
    z-index: 10;
}

#instructions-link {
    cursor: pointer;
}

#close-instructions {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #FF2A22;
    color: #fff0db;
    font-weight: bold;
    margin-top: 15px;
    border-radius: 0.25rem;
}

#close-instructions:hover {
    background: rgba(255, 248, 240, 1);
    color: #FF2A22;
    box-shadow: 0 6px 20px #5f4c4c;
    cursor: pointer;
}

#overlay {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;
}

/* Game Page */

/* Visibility of Game Screen */
#game-screen {
    display: none;
    justify-content: center;
    flex-wrap: wrap;
}

.viking-details {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 80px;
    width: 45%;
    height: 80%;
    padding: 10px;
    text-align: center;
}

.viking-name {
    display: block;
    font-size: 125%;
}

.viking-image {
    display: block;
    width: 30%;
    height: auto;
    margin: 0 auto;
}

.individual-viking-description {
    display: flex;
}

/* Individual Viking visibility */
#rollo {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    height: auto;
    background-color: rgba(255, 240, 219, 0.9);
    color: black;
    padding: 20px;
    text-align: center;
    margin-left: 30px;
    overflow: auto;
}

.question {
    display: 'none';
}

#rollo-question {
    display: none;
}

#olav-haraldsson {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    height: auto;
    background-color: rgba(255, 240, 219, 0.9);
    color: black;
    padding: 20px;
    text-align: center;
    margin-left: 30px;
}

#olav-haraldsson-question {
    display: none;
}

#leif-erikson {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    height: auto;
    background-color: rgba(255, 240, 219, 0.9);
    color: black;
    padding: 20px;
    text-align: center;
    margin-left: 30px;
}

#leif-erikson-question {
    display: none;
}

#harald-hardrada {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    height: auto;
    background-color: rgba(255, 240, 219, 0.9);
    color: black;
    padding: 20px;
    text-align: center;
    margin-left: 30px;
}

#harald-hardrada-question {
    display: none;
}

#cnut-the-great {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    height: auto;
    background-color: rgba(255, 240, 219, 0.9);
    color: black;
    padding: 20px;
    text-align: center;
    margin-left: 30px;
}

#cnut-the-great-question {
    display: none;
}

.game-area {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    width: 45%;
    height: auto;
    margin-right: 30px;
    margin-left: auto;
    margin-top: 3%;
}

.question-area {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 240, 219, 0.9);
    color: black;
    height: auto;
    margin-left: 3%;
    margin-top: auto;
    padding: 10px;
    width: 90%;
}

.grid {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    margin-right: 3%;
    margin-top: 10px;
    align-content: center;
}

.cell {
    flex: 0 0 32%;
    height: 17.5vh;
    margin-bottom: 5px;
    margin-right: 5px;
    background-color: rgba(255, 42, 34, 0.85);
    color: #fff0db;
    font-weight: bold;
    font-size: 140%;
    cursor: pointer;
}

/* Scores */
.score-area {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(255, 240, 219, 0.9);
    color: black;
    height: 40px;
    margin-top: 5px;
    margin-left: 2px;
    width: 90%;
}

.score {
    display: inline-flex;
    align-items: center;
}

#right {
    color: green;
    font-size: 110%;
    font-weight: bold;
    padding-left: 10px;
}

#wrong {
    color: red;
    font-size: 110%;
    font-weight: bold;
    padding-left: 10px;
}

.quit-button {
    background-color: #FF2A22;
    color: #fff0db;
    font-weight: bold;
    padding: 2px;
}

.quit-button:hover {
    background: rgba(255, 248, 240, 1);
    color: #FF2A22;
    box-shadow: 0 6px 20px #5f4c4c;
}


/* Correct and incorrect Answer popups */
#correct-answer {
    color: #000;
    font-size: 100%;
    text-align: center;
}

#correct-text {
    padding-top: 5%;
    font-size: 300%;
}

#incorrect-answer {
    color: #000;
    font-size: 100%;
    text-align: center;
}

#incorrect-text {
    padding-top: 5%;
    font-size: 300%;
}

#final-correct-answer {
    color: #000;
    font-size: 100%;
    text-align: center;
}

#final-correct-text {
    padding-top: 5%;
    font-size: 300%;
}

#final-incorrect-answer {
    color: #000;
    font-size: 100%;
    text-align: center;
}

#final-incorrect-text {
    padding-top: 5%;
    font-size: 300%;
}

/* Modal (background) pop-up box */
.modal-popup {
    display: none;
    position: fixed;
    z-index: 1;
    margin-left: 0;
    margin-top: 0;
    width: 40%;
    height: 65%;
    overflow: auto;
    background-color: #fff0db;
    border: 5px solid #402e32;
    z-index: 10;
}

.final-modal-popup {
    display: none;
    position: fixed;
    z-index: 1;
    margin-left: 0;
    margin-top: 0;
    width: 40%;
    height: 75%;
    overflow: auto;
    background-color: #fff0db;
    border: 5px solid #402e32;
    z-index: 10;
}

.final-text {
    font-size: 200%;
    font-weight: bold;
    margin-bottom: -20px;
}

/* Next Question Button */
#next-question-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background: #fffb00;
    border: 2px solid #5f4c4c;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 120%;
    padding: 10px;
    margin-top: 80px;
    margin-left: 30%;
    margin-bottom: 20px;
    height: 80px;
    width: 40%;
    border-radius: 7px;
    border: 2px solid #402e32;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
    box-shadow: 0 4px 14px 0 #402e32;
    transition: background 0.2s ease,
        color 0.2s ease,
        box-shadow 0.2s ease;
}

#next-question-button:hover,
#next-question-button:focus {
    background: rgba(255, 248, 240, 1);
    color: #FF2A22;
    box-shadow: 0 6px 20px #5f4c4c;
    cursor: pointer;
}

/* Next Question Button for incorrect answers */
#incorrect-next-question-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background: #fffb00;
    border: 2px solid #5f4c4c;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 120%;
    padding: 10px;
    margin-top: 40px;
    margin-left: 30%;
    margin-bottom: 20px;
    height: 80px;
    width: 40%;
    border-radius: 7px;
    border: 2px solid #402e32;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
    box-shadow: 0 4px 14px 0 #402e32;
    transition: background 0.2s ease,
        color 0.2s ease,
        box-shadow 0.2s ease;
}

#incorrect-next-question-button:hover,
#incorrect-next-question-button:focus {
    background: rgba(255, 248, 240, 1);
    color: #FF2A22;
    box-shadow: 0 6px 20px #5f4c4c;
    cursor: pointer;
}

#success-finish-screen {
    display: none;
    position: fixed;
    margin: auto;
    left: 20%;
    width: 50%;
    height: auto;
    padding: 20px;
    padding-top: 40px;
    background-color: #fff0db;
    color: black;
    font-size: 150%;
    text-align: center;
    border: 5px solid #402e32;
    border-radius: 0.25rem;
    z-index: 10;
}

#failure-finish-screen {
    display: none;
    position: fixed;
    margin: auto;
    left: 20%;
    width: 50%;
    height: auto;
    padding: 20px;
    padding-top: 40px;
    background-color: #fff0db;
    color: black;
    font-size: 150%;
    text-align: center;
    border: 5px solid #402e32;
    border-radius: 0.25rem;
    z-index: 10;
}

#return-home {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #FF2A22;
    color: #fff0db;
    border: 2px solid #5f4c4c;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 50%;
    padding: 10px;
    height: 10%;
    width: 150px;
    margin-left: 20px;
    border-radius: 7px;
    border: 2px solid #402e32;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
    box-shadow: 0 4px 14px 0 #402e32;
    transition: background 0.2s ease,
        color 0.2s ease,
        box-shadow 0.2s ease;
}

#return-home:hover,
#return-home:focus {
    background: rgba(255, 248, 240, 1);
    color: #FF2A22;
    box-shadow: 0 6px 20px #5f4c4c;
    cursor: pointer;
}

#failure-return-home {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #FF2A22;
    color: #fff0db;
    border: 2px solid #5f4c4c;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 50%;
    padding: 10px;
    height: 10%;
    width: 150px;
    margin-left: 20px;
    border-radius: 7px;
    border: 2px solid #402e32;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
    box-shadow: 0 4px 14px 0 #402e32;
    transition: background 0.2s ease,
        color 0.2s ease,
        box-shadow 0.2s ease;
}

#failure-return-home:hover,
#failure-return-home:focus {
    background: rgba(255, 248, 240, 1);
    color: #FF2A22;
    box-shadow: 0 6px 20px #5f4c4c;
    cursor: pointer;
}

#finish-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background: #fffb00;
    border: 2px solid #5f4c4c;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 120%;
    padding: 10px;
    margin-top: 80px;
    margin-left: 30%;
    margin-bottom: 20px;
    height: 80px;
    width: 40%;
    border-radius: 7px;
    border: 2px solid #402e32;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
    box-shadow: 0 4px 14px 0 #402e32;
    transition: background 0.2s ease,
        color 0.2s ease,
        box-shadow 0.2s ease;
}

#finish-button:hover,
#finish-button:focus {
    background: rgba(255, 248, 240, 1);
    color: #FF2A22;
    box-shadow: 0 6px 20px #5f4c4c;
    cursor: pointer;
}

#finish-incorrect-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background: #fffb00;
    border: 2px solid #5f4c4c;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 120%;
    padding: 10px;
    margin-top: 80px;
    margin-left: 30%;
    margin-bottom: 20px;
    height: 80px;
    width: 40%;
    border-radius: 7px;
    border: 2px solid #402e32;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
    box-shadow: 0 4px 14px 0 #402e32;
    transition: background 0.2s ease,
        color 0.2s ease,
        box-shadow 0.2s ease;
}

#finish-incorrect-button:hover,
#finish-incorrect-button:focus {
    background: rgba(255, 248, 240, 1);
    color: #FF2A22;
    box-shadow: 0 6px 20px #5f4c4c;
    cursor: pointer;
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    height: 50px;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    background-color: #FF2A22;
}

footer>span {
    color: #fff0db;
}

footer>a {
    color: #fff0db;
    text-decoration: none;
    padding: 0 15px;
    font-size: 1rem;
}

footer a:hover {
    border-bottom: 2px solid #fffb00;
    color: #fffb00;
}

#socialmedia {
    color: #fff0db;
}

#socialmedia dd {
    color: #fff0db;
    font-size: 80%;
    list-style-type: none;
    justify-content: space-around;
    display: inline-flex;
    margin-left: 5px;
}

#socialmedia dd a {
    text-decoration: none;
    color: inherit;
}

#socialmedia dd a:hover {
    border-bottom: 2px solid #fffb00;
    color: #fffb00;
}

/* Responsive design */
/* Media queries */

@media (max-width: 1179px) {
    #sub-title {
        display: none;
    }
    .game-area {
        display: flex;
        width: 100%;
        height: auto;
        margin-right: 30px;
        margin-left: auto;
    }
    #game-screen {
        display: none;
        justify-content: center;
        flex-wrap: wrap;
    }
    .viking-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 80px;
        padding: 10px;
        text-align: center;
        width: 90%;
        height: auto;
    }
    #rollo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 80px;
        width: 100%;
        height: 90%;
        background-color: rgba(255, 240, 219, 0.9);
        color: black;
        padding: 10px;
        text-align: center;
    }
    .viking-shield {
        display: none;
    }
    .cell {
        flex: 0 0 32%;
        height: 17.5vh;
        margin-bottom: 5px;
        margin-right: 5px;
        background-color: rgba(255, 42, 34, 0.85);
        color: #fff0db;
        font-weight: bold;
        font-size: 80%;
        cursor: pointer;
    }
}        


@media (max-width: 930px) {
#sub-title {
    display: none;
}
}