@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

html, body {
    height: 100%;
}

body {
    background-image : url("../images/game-background.jpg");
    background-color: #CE3A08;
    background-size: cover;
    overflow: hidden;
    font-family: 'Acme', sans-serif;
    color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: auto;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    background-color: #FF2A22;
    font-size: 170%;
    line-height: 0;
}

.introduction {
    display: flex;
    text-align: center;
    flex-direction: column;

    width: 90%;
    background: rgba(255, 42, 34, 0.75);
    margin: auto;
    font-size: 130%;
    padding: 5px;
}

.start-position {
    display: flex;
    justify-content: center;
}

.start-button {
    color: black;
    background: #fffb00;
    border: 2px solid #5f4c4c;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 150%;
    padding: 10px;
    margin-top: 60px;
    height: 80px;
    width: 30%;
    border-radius: 7px;
    border: 2px solid #402e32;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 0;
    cursor: pointer;
    box-shadow: 0 4px 14px 0 #402e32;
    transition: background 0.2s ease,
        color 0.2s ease,
        box-shadow 0.2s ease;
}
        
.start-button:hover {
    background: rgba(255, 248, 240, 1);
    color: #FF2A22;
    box-shadow: 0 6px 20px #5f4c4c;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    min-height: 30px;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: center;
    background-color: #FF2A22;
}